/* hr {color: #808080}
.message {
    width: 25%;
    padding: 1em;
    margin-bottom: 1em;
  }
  .message-out {
    background: #407fff;
    color: white;
    margin-left: 73%;
    border-radius: 25px 25px 0px 25px;
  }
  .message-in {
    background: #f1f0f0;
    color: black;
    margin-left: 2%;
    border-radius: 25px 25px 25px 0px;
  }
  .chat-inputs {
    display: flex;
    justify-content: space-between;
  }
  .page-grid {
    [class*="col"]
    background: #fff;
    text-align: center;
    color: #000;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  } */

  